.notes {
     background-color: #39a5c9 !important;
     height: 100vh;
 }
 p {
    margin: 0 !important;
}

ion-list {
    background-color: #39a5c9 !important;
    padding: 0 !important;
}

ion-item {
    background-color: cadetblue !important;
}